<div class="container-fluid custom-wrapper">
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">

        <div class="col-md-6  mb-3 mb-md-0">
          <div class="search-container">
            <input type="text" class="form-control custm-search search-input" placeholder="Search Banner..."
              (input)="applyFilterGlobal($event, 'contains')">
            <i class="fas fa-search search-icon"></i>
          </div>
        </div>


        <div class="col-md-6 text-end">

          <button class="btn btn-success btn-sm" type="button" (click)="CreateNew()"><span
              class="pi pi-plus p-1"></span> Create New</button>

        </div>
      </div>


      <p-table #dt [value]="bannerData" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[7, 10, 20, 50]"
        [globalFilterFields]="['org_name', 'app_Type', 'from_Date' ,'to']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
        dataKey="org_name" styleClass="p-datatable-responsive-demo" responsiveLayout="scroll" [scrollable]="true">
        <ng-template pTemplate="header">
          <tr class="user-table-header">
            <th class="text-center align-items">Sr.No</th>
            <th class="text-center align-items">Date From</th>
            <th class="text-center align-items">Date To</th>
            <th class="text-center align-items">App Type</th>
            <th class="text-center align-items">Organization Name</th>
            <th class="text-center align-items">Images</th>
            <th class="text-center align-items">Status</th>

            <th class="text-center align-items">Action </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-itr="rowIndex">
          <tr>
            <td class="text-center align-items">{{itr+1}}</td>
            <td class="text-center align-items">{{ item.date_from ? (item.date_from | date: 'yyyy-MM-dd') : 'N/A' }}
            </td>
            <td class="text-center align-items">{{ item.date_to ? (item.date_to | date: 'yyyy-MM-dd') : 'N/A' }}</td>
            <td class="text-center align-items">{{ item.app_type }}</td>
            <td class="org-name-column text-center align-items">{{ item.org_name }}</td>
            <td class="text-center align-items">
              <div *ngFor="let att of item.attachments">

                <img [src]="environment + att.prod_path" class="img-fluid table-img" />
              </div>
            </td>

            <td class="org-name-column text-center align-items">NA </td>
            <td class="text-center align-items">
              <span class="p-column-title">Action</span>
              <div class="action-buttons">


                
                <a> <img src="/assets/trash-icon.svg" (click)="deleteBanner(item)"> </a>
                
                <!-- <a> <img src="/assets/edit-icon.svg" (click)="editBanner(item)"></a> -->
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>




<p-dialog [(visible)]="visible" [modal]="true" [draggable]="true" [resizable]="true"
  [style]="{width: '100%', maxWidth: '630px'}" [contentStyle]="{padding: '0'}" styleClass="register-popup"
  [showHeader]="false" [closeOnEscape]="true" [dismissableMask]="true" (onHide)="closeDialog()"
  styleClass="custom-border-popup">

  <div class="org-popup-container px-4">
    <div class="popup-header d-flex justify-content-between align-items-center p-2">
      <img src="assets/Kirloskar-Powergen.svg" alt="Kirloskar" height="30">
      <h4 class="mb-3 pt-3 custom-color-h4">Create Banner</h4>


      <div class="closeDialog">
        <button type="button" class="close-btnnn" (click)="closeDialog()" aria-label="Close">
          <img src="assets/banner-close.svg" alt="Close" height="30">
        </button>
      </div>

    </div>

    <div class="popup-body p-3">


      <form [formGroup]="bannerForm" (ngSubmit)="submitForm()">
        <div class="row mb-1">
          <div class="col-md-4 mb-3">
            <label for="dateFrom" class="form-label">Date From<span class="text-danger">*</span></label>
            <div class="input-group">
              <input type="date" placeholder="Date From" id="dateFrom" class="form-control form-control-sm custom-input"
                formControlName="date_from"
              [min]="minDate" />
            </div>
            <div *ngIf="(formSubmitted || bannerForm.get('date_from')?.touched) && bannerForm.get('date_from')?.errors">
              <div class="text-danger small" *ngIf="bannerForm.get('date_from')?.hasError('required')">
                Date From is required
              </div>
            </div>

          </div>

          <div class="col-md-4 mb-3">
            <label for="dateTo" class="form-label">Date To<span class="text-danger">*</span></label>
            <div class="input-group">
              <input type="date" id="dateTo" class="form-control form-control-sm custom-input"
                formControlName="date_to"
                 [min]="bannerForm.get('date_from')?.value"  />
            </div>
            <div *ngIf="(formSubmitted || bannerForm.get('date_to')?.touched) && bannerForm.get('date_to')?.errors">
              <div style="color: red; font-size: small;" *ngIf="bannerForm.get('date_to')?.hasError('required')">
                Date To is required
              </div>
            </div>
          </div>


          <div class="col-md-4 mb-3">
            <label for="appType" class="form-label">App Type<span class="text-danger">*</span></label>
            <select class="form-select form-select-sm custom-input" id="appType" [(ngModel)]="app_Type" name="appType"
              (change)="errorMessageChange($event)" (change)="appTypeChanges($event)"
              [ngModelOptions]="{ standalone: true }">
              <option value="" disabled selected>--Select--</option>
              <option value="Web">Web</option>
              <option value="Mobile">Mobile</option>
              <option value="Tab">Tab</option>
            </select>

            <div *ngIf="!isappTypeSelected">
              <div style="color: red; font-size: small;">
                {{appTypeErrorMessage}}
              </div>
            </div>
          </div>
        </div>

        <div class="mb-1">
          <label for="organization" class="form-label">Organization<span class="text-danger">*</span></label>
          <select class="form-select form-select-sm custom-input" id="organization" formControlName="org_id"
            (change)="onOrganizationChange()">
            <option value="" disabled selected>Organization</option>
            <option *ngFor="let org of organizations" [value]="org.id">
              {{ org.name }}
            </option>
          </select>
          <div *ngIf="(formSubmitted || bannerForm.get('org_id')?.touched) && bannerForm.get('org_id')?.errors">
            <div style="color: red; font-size: small;" *ngIf="bannerForm.get('org_id')?.hasError('required')">
              Date To is required
            </div>
          </div>

          <div *ngIf=" incomingStatus =='409'">
            <div style="color: red; font-size: small;">
              {{ incomingMessaage}}
            </div>
          </div>

        </div>


        <div class="mt-3 mb-4">

          <label for="presentation" class="form-label">Banner</label>


          <div class="input-group">
            <input type="file" class="form-control form-control-sm custom-input custom-placeholder custom-file-input"
              (change)="onImageSelect($event)" multiple accept="image/*" />
            <!-- <div *ngIf="isInvalidImage">
              <div style=" color: red; font-size:small;">
                {{imgerrormesxsage}}
              </div>
            </div> -->
          </div>
        </div>


        <!-- <div class="table-responsive mb-4" *ngIf="selectedImages.length > 0">
          <table class="table table-sm dotted-border align-middle text-center">
            <thead class="custom-header">
              <tr>
                <th>Image</th>
                <th *ngIf="app_Type != 'Mobile'">For Web Reditection</th>
                <th *ngIf="app_Type != 'Web'">For Mobile Redirection</th>
                 <th *ngIf="app_Type != 'Web' && app_Type='Mobile'">For Mobile Redirection</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody formArrayName="redirections">
              <tr *ngFor="let item of selectedImages; let i = index" [formGroupName]="i">
                <td>
                  <div>{{ item.file.name }}</div>
                </td>


                <td *ngIf="app_Type != 'Mobile' && app_Type != 'Tab'">
                  <select class="form-select" formControlName="forWeb">
                    <option value="" disabled selected>Screens</option>
                    <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                  </select>
                </td>

                <td *ngIf="app_Type != 'Web' && app_Type != 'Tab'">
                  <select class="form-select" formControlName="forMobile">
                    <option value="" disabled selected>Screens</option>
                    <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                  </select>
                </td>

                  <td *ngIf="app_Type != 'Web' && app_Type !='Mobile'">
                  <select class="form-select" formControlName="forTab">
                    <option value="" disabled selected>Screens</option>
                    <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                  </select>
                </td>


                <td>
                  <a (click)="removeImage(i)">
                    <img src="/assets/remove-icon.svg">
                  </a>
                </td>
              </tr>
            </tbody>

          </table>
        </div> -->


        <div class="table-responsive mb-4" *ngIf="selectedImages.length > 0">
          <table class="table table-sm dotted-border align-middle text-center">
            <thead class="custom-header">
              <tr>
                <th>Image</th>

                <!-- Only show if app_Type is Web -->
                <th *ngIf="app_Type === 'Web'">For Web Redirection</th>

                <!-- Only show if app_Type is Mobile -->
                <th *ngIf="app_Type === 'Mobile'">For Mobile Redirection</th>

                <!-- Only show if app_Type is Tab -->
                <th *ngIf="app_Type === 'Tab'">For Tab Redirection</th>

                <th>Action</th>
              </tr>
            </thead>

            <tbody formArrayName="redirections">
              <tr *ngFor="let item of selectedImages; let i = index" [formGroupName]="i">
                <td style="width: 40%">
                  <div class="wrap-text">{{ item.file.name }}</div>
                </td>

                <!-- Show only when Web is selected -->
                <td style="width: 40%" *ngIf="app_Type === 'Web'">
                  <div class="middle-select-wrapper">

                    <select class="form-select" formControlName="forWeb">
                      <option value="" disabled selected>Screens</option>
                      <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                    </select>
                  </div>
                </td>

                <!-- Show only when Mobile is selected -->
                <td style="width: 40%" *ngIf="app_Type === 'Mobile'">
                  <div class="middle-select-wrapper">
                    <select class="form-select" formControlName="forMobile">
                      <option value="" disabled selected>Screens</option>
                      <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                    </select>
                  </div>
                </td>

                <!-- Show only when Tab is selected -->
                <td *ngIf="app_Type === 'Tab'">
                  <div class="middle-select-wrapper">
                    <select class="form-select" formControlName="forTab">
                      <option value="" disabled selected>Screens</option>
                      <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                    </select>
                  </div>
                </td>

                <td style="width: 20%;">
                  <a (click)="removeImage(i)">
                    <img src="/assets/remove-icon.svg">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-success custom-btn btn-width">Submit</button>

        </div>
      </form>

    </div>
  </div>
</p-dialog>



<p-dialog [(visible)]="isEditing" [modal]="true" [draggable]="true" [resizable]="true"
  [style]="{width: '100%', maxWidth: '630px'}" [contentStyle]="{padding: '0'}" styleClass="register-popup"
  [showHeader]="false" [closeOnEscape]="true" [dismissableMask]="true" (onHide)="closeDialog()"
  styleClass="custom-border-popup">

  <div class="org-popup-container px-4">
    <div class="popup-header d-flex justify-content-between align-items-center p-2">
      <img src="assets/Kirloskar-Powergen.svg" alt="Kirloskar" height="30">
      <h4 class="mb-3 pt-3 custom-color-h4">Edit Banner</h4>


      <div class="closeDialog">
        <button type="button" class="close-btnnn" (click)="closeDialog()" aria-label="Close">
          <img src="assets/banner-close.svg" alt="Close" height="30">
        </button>
      </div>

    </div>

    <div class="popup-body p-3">


      <form [formGroup]="bannerForm" (ngSubmit)="submitForm()">
        <div class="row mb-1">
          <div class="col-md-4 mb-3">
            <label for="dateFrom" class="form-label">Date From<span class="text-danger">*</span></label>
            <div class="input-group">
              <input type="date" placeholder="Date From" id="dateFrom" class="form-control form-control-sm custom-input"
                formControlName="date_from"
                    [min]="minDate" />
            </div>
            <div *ngIf="(formSubmitted || bannerForm.get('date_from')?.touched) && bannerForm.get('date_from')?.errors">
              <div class="text-danger small" *ngIf="bannerForm.get('date_from')?.hasError('required')">
                Date From is required
              </div>
            </div>

          </div>

          <div class="col-md-4 mb-3">
            <label for="dateTo" class="form-label">Date To<span class="text-danger">*</span></label>
            <div class="input-group">
              <input type="date" id="dateTo" class="form-control form-control-sm custom-input"
                formControlName="date_to"
             
                   [min]="bannerForm.get('date_from')?.value"/>
            </div>
            <div *ngIf="(formSubmitted || bannerForm.get('date_to')?.touched) && bannerForm.get('date_to')?.errors">
              <div style="color: red; font-size: small;" *ngIf="bannerForm.get('date_to')?.hasError('required')">
                Date To is required
              </div>
            </div>
          </div>


          <div class="col-md-4 mb-3">
            <label for="appType" class="form-label">App Type<span class="text-danger">*</span></label>
            <select class="form-select form-select-sm custom-input" id="appType" [(ngModel)]="app_Type" name="appType"
              (change)="errorMessageChange($event)" (change)="appTypeChanges($event)"
              [ngModelOptions]="{ standalone: true }">
              <option value="" disabled selected>--Select--</option>
              <option value="Web">Web</option>
              <option value="Mobile">Mobile</option>
              <option value="Tab">Tab</option>
            </select>

            <div *ngIf="!isappTypeSelected">
              <div style="color: red; font-size: small;">
                {{appTypeErrorMessage}}
              </div>
            </div>
          </div>
        </div>

        <div class="mb-1">
          <label for="organization" class="form-label">Organization<span class="text-danger">*</span></label>
          <select class="form-select form-select-sm custom-input" id="organization" formControlName="org_id"
            (change)="onOrganizationChange()">
            <option value="" disabled selected>Organization</option>
            <option *ngFor="let org of organizations" [value]="org.id">
              {{ org.name }}
            </option>
          </select>
          <div *ngIf="(formSubmitted || bannerForm.get('org_id')?.touched) && bannerForm.get('org_id')?.errors">
            <div style="color: red; font-size: small;" *ngIf="bannerForm.get('org_id')?.hasError('required')">
              Date To is required
            </div>
          </div>

          <div *ngIf=" incomingStatus =='409'">
            <div style="color: red; font-size: small;">
              {{ incomingMessaage}}
            </div>
          </div>

        </div>






        <div class="mt-3 mb-4">

          <label for="presentation" class="form-label">Banner</label>


          <div class="input-group">
            <input type="file" class="form-control form-control-sm custom-input custom-placeholder custom-file-input"
              (change)="onImageSelect($event)" multiple accept="image/*" />
            <!-- <div *ngIf="isInvalidImage">
              <div style=" color: red; font-size:small;">
                {{imgerrormesxsage}}
              </div>
            </div> -->
          </div>
        </div>

        <div class="mt-3 mb-4" *ngIf="selectedBannerItem?.attachments?.length">
          <label>Banner</label>
          <div class="row">
            <div class="col-md-3 mb-2" *ngFor="let att of selectedBannerItem.attachments">
              <img *ngIf="att.prod_path" [src]="environment + att.prod_path" class="img-fluid table-img" alt="Banner" />
            </div>
          </div>
        </div>



        <!-- <div class="table-responsive mb-4" *ngIf="selectedImages.length > 0">
          <table class="table table-sm dotted-border align-middle text-center">
            <thead class="custom-header">
              <tr>
                <th>Image</th>
                <th *ngIf="app_Type != 'Mobile'">For Web Reditection</th>
                <th *ngIf="app_Type != 'Web'">For Mobile Redirection</th>
                 <th *ngIf="app_Type != 'Web' && app_Type='Mobile'">For Mobile Redirection</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody formArrayName="redirections">
              <tr *ngFor="let item of selectedImages; let i = index" [formGroupName]="i">
                <td>
                  <div>{{ item.file.name }}</div>
                </td>


                <td *ngIf="app_Type != 'Mobile' && app_Type != 'Tab'">
                  <select class="form-select" formControlName="forWeb">
                    <option value="" disabled selected>Screens</option>
                    <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                  </select>
                </td>

                <td *ngIf="app_Type != 'Web' && app_Type != 'Tab'">
                  <select class="form-select" formControlName="forMobile">
                    <option value="" disabled selected>Screens</option>
                    <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                  </select>
                </td>

                  <td *ngIf="app_Type != 'Web' && app_Type !='Mobile'">
                  <select class="form-select" formControlName="forTab">
                    <option value="" disabled selected>Screens</option>
                    <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                  </select>
                </td>


                <td>
                  <a (click)="removeImage(i)">
                    <img src="/assets/remove-icon.svg">
                  </a>
                </td>
              </tr>
            </tbody>

          </table>
        </div> -->


        <div class="table-responsive mb-4" *ngIf="selectedImages.length > 0">
          <table class="table table-sm dotted-border align-middle text-center">
            <thead class="custom-header">
              <tr>
                <th>Image</th>

                <!-- Only show if app_Type is Web -->
                <th *ngIf="app_Type === 'Web'">For Web Redirection</th>

                <!-- Only show if app_Type is Mobile -->
                <th *ngIf="app_Type === 'Mobile'">For Mobile Redirection</th>

                <!-- Only show if app_Type is Tab -->
                <th *ngIf="app_Type === 'Tab'">For Tab Redirection</th>

                <th>Action</th>
              </tr>
            </thead>

            <tbody formArrayName="redirections">
              <tr *ngFor="let item of selectedImages; let i = index" [formGroupName]="i">
                <td style="width: 40%">
                  <div class="wrap-text">{{ item.file.name }}</div>
                </td>

                <!-- Show only when Web is selected -->
                <td style="width: 40%" *ngIf="app_Type === 'Web'">
                  <div class="middle-select-wrapper">

                    <select class="form-select" formControlName="forWeb">
                      <option value="" disabled selected>Screens</option>
                      <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                    </select>
                  </div>
                </td>

                <!-- Show only when Mobile is selected -->
                <td style="width: 40%" *ngIf="app_Type === 'Mobile'">
                  <div class="middle-select-wrapper">
                    <select class="form-select" formControlName="forMobile">
                      <option value="" disabled selected>Screens</option>
                      <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                    </select>
                  </div>
                </td>

                <!-- Show only when Tab is selected -->
                <td *ngIf="app_Type === 'Tab'">
                  <div class="middle-select-wrapper">
                    <select class="form-select" formControlName="forTab">
                      <option value="" disabled selected>Screens</option>
                      <option *ngFor="let itr of screenData" [value]="itr.keys">{{ itr.keys }}</option>
                    </select>
                  </div>
                </td>

                <td style="width: 20%;">
                  <a (click)="removeImage(i)">
                    <img src="/assets/remove-icon.svg">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-success custom-btn btn-width">Submit</button>

        </div>
      </form>

    </div>
  </div>
</p-dialog>