
 ::ng-deep .swal2-confirm-custom{
  background-color: teal !important; 
  color: white !important;
  border: none !important;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  margin-left: 5px;
}

 ::ng-deep.swal2-cancel-custom {

  background-color:  #e0e0e0 !important; ; 
  color: #6c757d !important;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
}
