/* You can add global styles to this file, and also import other style files */



:root {
  --primary: #19988B;
  --secondary: #C37C5A;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --light: #f8f9fa;
  --dark: #7F7F7F;
  --gray: #C8C8C8;
}


/* .bg-custom-primary {
  background-color: var(--primary) !important;
}

.bg-custom-secondary {
  background-color: var(--secondary) !important;
} */




* {
  font-family: 'Heebo', sans-serif;
}

/* Example: Override PrimeNG button styles */
.p-button {
  font-size: 14px;
  border-radius: 8px;
}

.custom-css-search {
  border-radius: 25px;
}

/* Example: Adjust Bootstrap grid for PrimeNG */
.container {
  max-width: 1200px;
}

@font-face {
  font-family: 'Heebo', sans-serif;
  src: url(assets/fonts/static/Heebo-Black.ttf);
  font-weight: normal;
  font-style: normal;
}


body,
app-root {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Heebo', sans-serif;
  background-color: #F7F7F7 !important;


}


.data-table-container .table-header th {
  background-color: #24AFA1A8;
  color: white !important;

}

.p-button.p-button-custom-success {
  color: #ffffff !important;
  background-color: #24AFA1A8 !important;
  border: 1px solid #24AFA1A8 !important;
}


.p-button.p-button-custom-success:hover {
  background-color: #24AFA1A8 !important;
  border-color: #24AFA1A8 !important;

}


.root {
  --color-primary: 24AFA1A8,
    --font-primar: Heebo, sans-serif;
  --add-button: #C57C5C
}



.custom-color-h4 {
  color: #C37C5A;
}

.close-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: transparent;
  /* color: #6e6e6e; */
  color: #222940;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
    color: #929292;
  }
}


.error {
  color: red !important;

}

.p-datatable-table thead tr,
.p-datatable-table tbody tr {
  white-space: nowrap;

}

.p-datatable-table thead tr th {
  padding: 0.5rem 1rem;
  font-size: 14px;
}

.p-datatable-table tbody tr td {
  /* padding: 0.7rem 1rem;
  font-size: 13px; */
  /* padding: 0.2rem 0.2rem; */
  padding: 0.5rem 1rem;
  font-size: 12px;
}

.action-buttons a img {
  width: 25px;
  padding: 0.2rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem;
  height: 2rem;
}

.p-dropdown-panel .p-dropdown-item {
  padding: 0.3rem;
  font-size: 14px;
  margin: 0rem 0.3rem 0rem -2rem;

}

::ng-deep .p-dropdown-items {
  padding: 5rem;

}

.btn-success {
  color: #ffffff;
  background: #19988B !important;
  border: 1px solid #24AFA1A8 !important;
}

.btn-upload {
  color: #ffffff;
  background: #19988B !important;
  border: 1px solid #24AFA1A8;
  width: 13rem;
}


.dotted-border tbody tr {
  border-bottom: 1px dotted #ccc;
}

.form-label {

  color: #000000;
  font-weight: 400;
}

.custom-placeholder::placeholder {
  /* color: #605f5f !important;  */
  color: #A6A6A6 !important;
  font-weight: lighter;
}

.custom-file-input::file-selector-button {
  background-color: #E3F3F1;
  color: #757575;

}

.custom-input {
  border: 0px solid #A7A7A7;


  color: #A6A6A6 !important;
  background-color: #F7F7F7;

}

.custom-placeholder-dropdown {
  color: #A6A6A6 !important;
}

.empty-focus-style:focus:placeholder-shown {
  border-color: #28a745;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}



.form-control:focus {
  border: 0px solid #A7A7A7;
  box-shadow: 0 0 0 0.25rem rgba(25, 152, 139, 0.25);
}



.search-container {
  position: relative;
}

/* .search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}

.search-input {
  width: 100%;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--bs-body-color);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.2;
  color: #0e0f11;
  background-color: var(--bs-body-bg);
  border-radius: 25px !important;
  background-clip: padding-box;
  appearance: none;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search-input:focus {

  box-shadow: 0 0 0 0.12rem rgba(25, 152, 139, 0.25);
  border: var(--bs-border-width) solid
}

.custm-search {
  border-radius: 25px;
  height: 2.3rem;
  box-shadow: none;
}

.custm-search::placeholder {
  padding-left: 2rem;
}

.p-datatable-wrapper {

  /* min-height: 333px; */
  /* max-height: 333px; */

  min-height: 380px;

  /* min-height: 464px; */
  max-height: 480px;
}




.card {
  border: none !important;
  box-shadow: none !important;
}


::ng-deep .p-datatable .p-datatable-tbody>tr {
  border-bottom: 1px dashed #ccc !important;
}

::ng-deep .p-datatable .p-datatable-tbody>tr:last-child {
  border-bottom: none !important;
}


::ng-deep .video-queue .video-thumbnail img {
  width: 249px !important;
  height: 120px !important;
  border-radius: 10px !important;
}

/* Global styles.scss or component-specific style file */


.teal-clickable {
  color: teal;
  cursor: pointer;
  text-decoration: none;
}


/* Vertically & horizontally center header cells */
.p-table thead th {
  vertical-align: middle !important;
  /* text-align: center !important; */
}

/* Vertically & horizontally center body cells */
.p-table tbody td {
  vertical-align: middle !important;
  /* text-align: center !important; */
}

::ng-deep .swal2-cancel-custom {
  background-color: transparent !important;
  color: red !important;
  border: 1px solid black;


  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

::ng-deep .swal2-cancel-custom:hover {
  background-color: red !important;
  color: white !important;
  border: none;

  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
}



.custom-reset-img {
  width: 40px;
  height: auto;
}