.sidebar {
  /* width: 250px; */
  width: 200px;
  height: 100%;
  /* min-height: calc(100vh-65px); */
  /* background-color: #DFEEEC; */
  background-color: #E0E0E0;
  /* background-color: red; */

  position: fixed;

  /*  
  padding: 15px; */

  padding: 2px;
  transition: width 0.3s ease-in-out;

}


.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
}


.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-left: 0.5rem;
  font-size: smaller;
  font-weight: bold;
  color: red
    /* margin-top: 20px; */
}

.sidebar-menu li {
  padding: 2px;
}

.sidebar-menu li a {
  /* color: #333; */

  display: flex;
  align-items: center;
  text-decoration: none;
  /* font-weight: 500; */
  /* font-weight: 500px; */
  font-weight: medium;

  color: #606060;
  /* padding: 12px 15px; */
  /* padding: 8px 10px; */
  padding: 10px 8px;
  border-radius: 20px 0 0 20px;
  transition: 0.3s;
  width: 100%;
}

.sidebar-menu li a i {
  font-size: 1.2rem;
  margin-right: 12px;

}

.sidebar-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;

}

.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  gap: 1px;
}

.sidebar-menu li.active a {
  /* background-color: white;  */
  background-color: #FAFAFA;
  /* background-color: rgb(90, 19, 223);  */
  font-weight: bold;
  /* font-weight: 100px; */
  border-radius: 20px 0 0 20px;
  box-shadow: inset -4px 0px 0px #ffffff;
  width: calc(100% + 5px);

}





.sidebar.collapsed .sidebar-menu li a span {
  display: none;
}


.sidebar-menu li a:hover {
  /* background-color: #d6d6d6; */

  background-color: #F8F8F8;
  border-radius: 20px 0 0 20px;
}

@media (max-width: 992px) {
  .sidebar {
    width: 80px;
  }

  .sidebar-menu li a span {
    display: none;
  }
}


.iconimg {
  margin-right: 0.5rem;
  height: 17px;
  width: 17px;
}

.arrow-iconimg {
  margin-right: 0.5rem;
  height: 12px;
  width: 12px;
}

.sub-menu {

  margin-left: 17px
}





/* ========================== */
.master-menu {
  .arrow-icon {
    float: right;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(90deg);
    }
  }

  .submenu {
    list-style: none;
    padding-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;

    li {
      margin: 5px 0;
    }
  }

  .submenu.open {
    max-height: 500px;
  }
}


.sidebar-menu-wrapper {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  /* max-height: 100%;  */
  /* min-height: calc(500vh); */

  scrollbar-width: none;

  /* margin-left: 0.5rem; */



}

.master-sidebar {
  margin-left: 3rem;
  white-space: nowrap;

}


.master-sidebar {
  max-height: calc(100vh - 190px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px;

  scrollbar-width: thin;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.master-sidebar::-webkit-scrollbar {
  width: 6px;
}

.master-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}



/* non-admin sidebar */
.mains-title-img {
  width: 50%;
  max-width: 100px;

  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5rem;

}

.sidebar-section-title {
  margin-top: 1.5rem;
  color: #606060;
  list-style: none;
  margin-left: 1rem;


}


.nonadmin-sidebar-menu{
   list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-left: 0.5rem;
  font-size: smaller;
  font-weight: bold;
  color: red
}


.nonadmin-sidebar-menu li {
  padding: 1px 1px 0px 1px;
}

.nonadmin-sidebar-menu li a {
  /* color: #333; */

  display: flex;
  align-items: center;
  text-decoration: none;
  /* font-weight: 500; */
  /* font-weight: 500px; */
  font-weight: medium;

  color: teal;
  /* padding: 12px 15px; */
  /* padding: 8px 10px; */
  padding: 2px 0px 2px 4px;
  border-radius: 1px 0 0 1px;
  transition: 0.3s;
  width: 100%;
}

.nonadmin-sidebar-menu li a i {
  font-size: 1.2rem;
  margin-right: 12px;

}

.nonadmin-sidebar-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;

}

.nonadmin-sidebar-menu ul li a {
  display: flex;
  align-items: center;
  gap: 1px;
}

.nonadmin-sidebar-menuli.active a {

  background-color: #FAFAFA;

  font-weight: bold;

  border-radius: 20px 0 0 20px;
  box-shadow: inset -4px 0px 0px #ffffff;
  width: calc(100% + 5px);

}





.sidebar.collapsed .nonadmin-sidebar-menu li a span {
  display: none;
}


.nonadmin-sidebar-menu li a:hover {
  /* background-color: #d6d6d6; */

  background-color: #F8F8F8;
  border-radius: 20px 0 0 20px;
}